// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "partials/commons";
@import "partials/main";

//nav dinamic search
nav {
    .container {
        position: relative;

        .list-group {
            position: absolute;
            top: 50px;
            right: 15px;
            z-index: 3;
            width: 500px;
            max-height: 400px;
            overflow-y: auto;
        }
    }
}

//welcome carousel
.carousel-inner {
    border-radius: 1rem;

    img {
        filter: brightness(0.7);
    }
}

//Blog
.main_blog,
.popular_posts {
    .card-img-top {
        height: 230px;
        object-fit: cover;
    }
}

//Search
.main_search {
    .post-list {
        &:hover img {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        img {
            border-radius: 1rem;
        }
    }
}
