//main
main {
    color: lightgray;
    a {
        transition: 0.5s;
        &:hover {
            text-decoration-color: white;
        }
        &:hover img {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .card {
            border: none;
            background-color: transparent;
            color: white;

            img {
                border-radius: 1rem;
                transition: 0.5s;
            }
        }
    }
}
